
@{
    ViewData["Title"] = "Lista de Vendedores";
}

<h3>@ViewData["Title"]</h3>


<td><a asp-action="Cadastro" button class="btn btn-success">Cadastrar Vendedor</a></td>
<p></p>
<table class="table table-bordered center">
    <thead>
        <tr class="btn-info">

            <th>Nome</th>
            <th>Email</th>
            <th></th>
            <th></th>


        </tr>
    </thead>
    <tbody>

        @{
            foreach (var item in (List<VendedorModel>)ViewBag.ListaVendedores)
            {
        <tr>

            <td>@item.Nome</td>
            <td>@item.Email</td>
            <td> <button class="btn btn-warning" type="button" onclick="Editar(@item.Id)">Alterar</button></td>
            <td> <button class="btn btn-danger" type="button" onclick="Excluir(@item.Id)">Excluir</button></td>

        </tr>
            }
        }
    </tbody>
</table>
<br />
<td> <a asp-action="../Home/Menu" button class="btn btn-primary">Voltar ao Menu</a></td>


<script>
    function Cadastrar() {
        window.location.href = "../Vendedor/Cadastro";

    }
    function Editar(id) {
        window.location.href = "../Vendedor/Cadastro/" + id;
    }

    function Excluir(id) {
        window.location.href = "../Vendedor/Excluir/" + id;
    }
</script>
